body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    min-height: 50vh;
}

.root {
    font-size: x-large;
    color: whitesmoke;
    background-color: rgb(55, 148, 55);
    box-shadow: 0 2px 5px grey, 0 2px 5px grey;
    padding: 0% 5% 1% 5%;

    text-align: center;
    border-radius: 5px 0;
}

.title {
    border-bottom: 4px dashed;
    border-color: white;
}

input {
    font-size: 20px;
    padding-left: 10px;
    outline: 2px grey;
}


.foot {
    margin-bottom: 0%;
    display: flex;
    width: 100%;
}

.foot>button {
    width: 48%;
    padding: 1%;
    margin: 1%;
    background-color: rgb(41, 117, 41);
    border-radius: 5px;
    border-color: rgb(29, 90, 29);
    font-size: large;
}