.heading{
    text-align: center;
    color: rgb(89, 89, 89);
    font-size: 60px;
}
 


*,
*::before,
*::after { 
  box-sizing: border-box;
}

html {
  background-color: #f3f3f3;
}



img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  background-color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  transition: 0.5s;
  text-align: center;
  cursor: pointer;
  background-color: #d1d1d1;
  text-decoration: none;
  color: #000000;
}

.btn--block {
  display: block;
  width: 100%;
}
 
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  @media(max-width:700px) {
    width:100%
  }
}

.cards__item {
  display: flex;
  padding: 1rem;

  @media(min-width: 40rem) {
    width: 50%;
  }
  @media(min-width: 56rem) {
    width: 33.3333%;
  }
  
}
@media screen and (max-width:530px) {
   .cards__item{
    width: 100%;
   }
}

.card {
  margin: 30px;
  width: 100%;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.385);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }
  @media(max-width: 1209px) {
    margin: 0px;
  }
}

.card__content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  padding: 1rem;
}

.card__image {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border: 1px solid rgb(162, 162, 162);
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  overflow: hidden;
  position: relative;
  transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
  &::before {
    content: "";
	  display: block;
    padding-top: 56.25%; 
  }
  @media(min-width: 40rem) {
    &::before {
      padding-top: 66.6%; 
    }
  }
}


.card__title {
  font-size: 1.25rem;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.card__text {
  flex: 1 1 auto;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
}
.btn:hover{
  background-color: #000000;
  color: white;
}

  

#top {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 5px;
  background-color: rgb(225, 149, 99);
  color: #fff;
  border: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 20px;
}
#top:hover{
  cursor: pointer;
  background-color: rgb(225, 149, 99);
  height: 52px;
  font-size: 22px;
}