@import url('https://fonts.googleapis.com/css?family=Raleway:400,200');
body {   font-family: Helvetica, san-serif;
 }
.transition { transition: .3s cubic-bezier(.3, 0, 0, 1.3) }
.card {
    background-color: #fff;
    bottom: 0;
    box-shadow: 0px 0px 10px 2px rgb(220, 220, 220);
  -webkit-box-shadow: 0px 0px 10px 2px rgba(250, 249, 249, 0.747);
  -moz-box-shadow: 0px 0px 10px 2px rgba(255, 255, 255, 0.3);
    height: 300px;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
}
.card:hover {
    height: 450px;
    width: 300px;
}
.card:hover .cta-container {
    display: inline;
    margin-top: 380px;
}
.card:hover .card_circle {
    background-size: cover;
    border-radius: 0;
    margin-top: -130px;
}
.card:hover h2 {
    background: #171717d4;
    color: #fff;
    margin-top: 100px;
    padding: 5px;
}
.card:hover h2 small { color: #fff }
.card:hover p { margin-top: 300px }
.card_circle {
    
    background: url('https://img.freepik.com/free-vector/river-flowing-through-sahara-desert-vector-cartoon-illustration-hot-sandy-dunes-landscape-stones-bank-green-plants-growing-near-water-sunlight-flaring-air-blue-sky-with-white-clouds_107791-21962.jpg?w=1380&t=st=1696400341~exp=1696400941~hmac=2cdae08659b291df3d7b3c36a0bd00d76e8725c673914ab066013371f6afee07') no-repeat center bottom;
    background-position: center;
    background-color: #3487f7 ;
    background-size: cover;
    border-radius: 50%;
    height: 400px;
    margin-left: -75px;
    margin-top: -270px;
    position: absolute;
    width: 450px;
}
h2 {
    color: #3578cf;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 150px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
p {
    color: rgba(0,0,0,.6);
    font-family: 'Raleway', sans-serif;
    font-size: 100%;
    font-weight: 500;
    margin-top: 200px;
    position: absolute;
    text-align: center;
    z-index: 9999;
}
.cta-container {
    display: none;
    margin-top: 320px;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 9999;
}
.cta {
    -moz-border-radius: 2px;
    -moz-transition: 0.2s ease-out;
    -ms-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    -webkit-border-radius: 2px;
    -webkit-transition: 0.2s ease-out;
    background-clip: padding-box;
    border: 2px solid #3487f7;
    border-radius: 2px;
    color: #3487f7;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 36px;
    margin-bottom: 15px;
    padding: 0 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.2s ease-out;
}
.cta:hover {
    background-image: url('https://img.freepik.com/free-vector/river-flowing-through-sahara-desert-vector-cartoon-illustration-hot-sandy-dunes-landscape-stones-bank-green-plants-growing-near-water-sunlight-flaring-air-blue-sky-with-white-clouds_107791-21962.jpg?w=1380&t=st=1696400341~exp=1696400941~hmac=2cdae08659b291df3d7b3c36a0bd00d76e8725c673914ab066013371f6afee07');
    background-color: #3487f7;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.para{
    padding: 1rem;
}
body{
    background-color: #171717;
}
*{
font-family: 'Roboto Mono', monospace;
font-weight: bolder;
margin: 0;
padding: 0;
color: white;
text-decoration: none;
}
header{
padding: 2px;
background-color: black;
}
header:hover{
cursor: default;
}
.logo{
width: 1.2rem;
height: auto;
float: left;
padding: 0.5rem;
}
.mine{
padding: 0.5rem;
font-size: small;
}
.one{
background-color: #00CA4E;
width: 1rem;
height: 1rem;
border-radius: 50%;
margin-right: 0.8rem;
color: #00CA4E;
}
.two{
background-color: #FFBD44;
width: 1rem;
height: 1rem;
border-radius: 50%;
margin-right: 0.8rem;
color: #FFBD44;
}
.three{
background-color: #FF605C;
width: 1rem;
height: 1rem;
border-radius: 50%;
margin-right: 0.8rem;
color: #FF605C;
}
.tray{
display: flex;
float:right;
margin-top: -1.5rem;
}

.tray :hover{
cursor: pointer;
}
.fixed_footer{
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
    background-color: black;
}
.foot_nav{
    display: flex;
    justify-content: center;
}
.foot_logo{
width: auto;
height: 2rem;
float: left;
margin: 0.5rem 0.5rem 0.5rem 0.5rem;
}