* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(201, 251, 251);
}

.calculator{
    background-color: white;
    border: 1px solid #f2f4f8;
    padding: 25px;
    border-radius: 16px ;
    /* background: transparent; */
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
input{
    width: 320px;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    padding: 24px;
    margin: 10px;
    font-size: 40px;
    text-align: right;
    color:rgb(250, 102, 116);
    background-color: #f6de88;
}
input::placeholder{
    color: rgb(13, 59, 59);
}
button{
    border: none;
    width:60px;
    height:60px;
    margin:10px;
    border-radius: 20%;
    background: transparent;
    color: black;
    font-size: 20px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    cursor:pointer;
}

.equal{
    background-color: orange;
    border: 2px solid black;
}
.equal:hover{
    background-color: rgb(228, 8, 8);
    color: rgb(0, 5, 9);
}
.sum{
    color: rgb(126, 248, 177);
    background-color: white;
    border: 2px solid black;
}
.sum:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.minus{
    color: rgb(126, 248, 177);
    background-color: white;
    border: 2px solid black;
}
.minus:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.divide{
    color: rgb(126, 248, 177);
    background-color: white;
    border: 2px solid black;
}
.divide:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.multiply{
    color: rgb(126, 248, 177);
    background-color: white;
    border: 2px solid black;
}
.multiply:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.mod{
    color: rgb(126, 248, 177);
    background-color: white;
    border: 2px solid black;
}
.mod:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.AC{
    color: cornflowerblue;
    background-color: white;
    border: 2px solid black;
}
.AC:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.DEL{
    color: cornflowerblue;
    background-color: white;
    border: 2px solid black;
}
.DEL:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.zeroo{
    border-radius: 10%;
    width: 43%;
    color: royalblue;
    background-color: white;
    border: 2px solid black;
}
.zeroo:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.dot{
    color: steelblue;
    background-color: white;
    border: 2px solid black;
}
.dot:hover{
    background-color: black;
    color: rgb(8, 136, 248);
}
.but{
    background-color: white;
    border: 2px solid black;
}
.but:hover{
    background-color: black;
    color: aliceblue;
}