*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;

}

.calculator{
    border: 1px solid #f2f4f8;
    padding: 25px;
    border-radius: 16px ;
    background: transparent;
    box-shadow: 8px 3px 15px, rgba(248, 249, 250, 0.5);
}
input{
    width: 320px;
    border: transparent;
    padding: 24px;
    margin: 10px;
    background: transparent;
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color:deepskyblue;
}
input::placeholder{
    color: darkcyan;
}
button{
    border: none;
    width:60px;
    height:60px;
    margin:10px;
    border-radius: 20%;
    background: transparent;
    color: black;
    font-size: 20px;
    box-shadow: -2px -5px 15px rgba(37, 63, 61, 0.2);
    cursor:pointer;
}

.equal{
    background-color: orange;
}
.sum{
    color: skyblue;
}
.minus{
    color: skyblue;
}
.divide{
    color: skyblue;
}
.multiply{
    color: skyblue;
}
.mod{
    color: skyblue;
}
.AC{
    color: cornflowerblue;
}
.DEL{
    color: cornflowerblue;
}
.zeroo{
    border-radius: 10%;
    width: 43%;
    color: royalblue;
}
.dot{
    color: steelblue;
}