body {
	font-family: 'Quicksand', sans-serif;
	background-color: #eee;
	font-size:14pt;
	line-height: 18pt;
	font-weight: 400;
	color: #333;
}

.clear {
	clear:both;
}
h1,h2{
	color: #000;
}
#resume-wrapper {
	width: 760px;
	margin:0 auto;
	background: #fff;
	padding: 40px;
	border: 10px solid rgb(0, 0, 92);
}
#title{
	font-size: 28pt;
	font-weight: 700;
}
#primary-info{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 5px;
}
.info{
	font-weight: 600;
	font-size: 15pt;
}
.divider{
	background: transparent;
	height: 0px;
	border-top: 3px solid #222;
}
.resume-section{
	margin-top: 40px;
}
.section-title{
	font-size: 22pt;
	width: max-content;
	font-weight: 600;
	padding: 0px 20px 10px 0px;
	border-bottom: 2px dotted #333;
}
#description{
	font-weight: 500;
	color: #000;
	font-size: 14pt;
	line-height: 20pt;
	text-align: justify;
}
.edinfo{
	margin-bottom: 20px;
}
.dark{
	font-weight: 600;
}
.main .dark{
	font-size: 16pt;
}
.facts{
	width: max-content;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	padding: 10px 0px;
}
.data{
	list-style-type: none;
}
.data:nth-child(2){
	margin-left: 100px;
}
#achievements ul li{
	font-weight: 500;
	font-size: 16pt;
	color: #000;
	line-height: 24pt;
}
#skills ul{
	width: max-content;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.skill{
	list-style-type: none;
	font-weight: 500;
	font-size: 14pt;
	padding: 10px 40px;
	margin-right: 50px;
	font-weight: 600;
	border-radius: 5px;
}
.skill1{
	background: lightgreen;
	color: #000;
}
.skill2{
	background: #222;
	color: #eee;
}
.skill3{
	background: #ffd000;
	color: #000;
}

button{
	position: sticky;
	top: 30px;
	left: 90%;
	bottom: 30px;
	background: #005fcc;
	color: #fff;
	padding: 20px 30px;
	border-radius: 50px;
	box-shadow: -5px -5px 15px #0077ff7a,
				5px 5px 10px #0c0c0cb0;
	outline: none;
	border: none;
	font-size: 16pt;
	font-weight: 700;
	font-family: 'Quicksand', sans-serif;
}
button:hover{
	box-shadow: -5px -5px 5px #0077ff34,
				5px 5px 5px #0c0c0c5e;
	transition: 0.5s ease;
}


/* media query for print */
@media print and (max-width:900px){
	body {
		font-family: 'Quicksand', sans-serif;
		background-color: #eee;
		font-size:14pt;
		line-height: 18pt;
		font-weight: 400;
		color: #333;
	}
	
	.clear {
		clear:both;
	}
	h1,h2{
		color: #000;
	}
	#resume-wrapper {
		width: 760px;
		margin:0 auto;
		background: #fff;
		padding: 40px;
		border: 10px solid rgb(0, 0, 92);
	}
	#title{
		font-size: 28pt;
		font-weight: 700;
	}
	#primary-info{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 5px;
	}
	.info{
		font-weight: 600;
		font-size: 15pt;
	}
	.divider{
		background: transparent;
		height: 0px;
		border-top: 3px solid #222;
	}
	.resume-section{
		margin-top: 40px;
	}
	.section-title{
		font-size: 22pt;
		width: max-content;
		font-weight: 600;
		padding: 0px 20px 10px 0px;
		border-bottom: 2px dotted #333;
	}
	#description{
		font-weight: 500;
		color: #000;
		font-size: 14pt;
		line-height: 20pt;
		text-align: justify;
	}
	.edinfo{
		margin-bottom: 20px;
	}
	.dark{
		font-weight: 600;
	}
	.main .dark{
		font-size: 16pt;
	}
	.facts{
		width: max-content;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding: 10px 0px;
	}
	.data{
		list-style-type: none;
	}
	.data:nth-child(2){
		margin-left: 100px;
	}
	#achievements ul li{
		font-weight: 500;
		font-size: 16pt;
		color: #000;
		line-height: 24pt;
	}
	#skills ul{
		width: max-content;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	.skill{
		list-style-type: none;
		font-weight: 500;
		font-size: 14pt;
		padding: 10px 40px;
		margin-right: 50px;
		font-weight: 600;
		border-radius: 5px;
	}
	.skill1{
		background: lightgreen;
		color: #000;
	}
	.skill2{
		background: #222;
		color: #eee;
	}
	.skill3{
		background: #ffd000;
		color: #000;
	}
	button{
		display: none;
	}
}