*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body, .wrapper, .content{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background: linear-gradient(90deg, #FCEDDA, #EE4E34);
    min-height: 100vh;
}

.wrapper{
    width: 440px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px 30px 40px;
}

.wrapper img{
    max-width: 100px;
}

.wrapper h1{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
}

.wrapper .content{
    width: 100%;
    justify-content: space-between;
}

.wrapper .content.disable{
    opacity: 0.6;
    pointer-events: none;
}

.content .column{
    border-radius: 2px;
    border: 1px solid #999;
    width: calc(100% / 3 - 5px);
}

.column select{
    outline: none;
    border: none;
    height: 53px;
    width: 100%;
    font-size: 20px;
}

.wrapper button{
    width: 100%;
    outline: none;
    border: none;
    cursor: pointer;
    color: black;
    margin-top: 20px;
    font-size: 20px;
    padding: 17px 0;
    border-radius: 5px;
    background: linear-gradient(90deg, #EE4E34, #f0cea1);
}